config TOUCHSCREEN_FOCAL_FT3267
tristate "FocalTech FT3267 touchscreen"
       depends on I2C
       help
       ?       Say Y here if you have a FocalTech FT3517 touchscreen
       ?       If unsure, say N.
